<form [formGroup]="form" class="soa">

  <!-- HEADER -->
  <div class="header">
    <div>ID <input formControlName="id"></div>
    <div class="title">
      <strong>NATIONAL TELECOMMUNICATIONS COMMISSION</strong><br>
      Regional Office No. 5<br>
      <b>STATEMENT OF ACCOUNT</b>
    </div>
    <div>
      <label>
        <input type="checkbox" formControlName="isMobile"> is Mobile Licensing
      </label>
    </div>
  </div>

  <!-- TOP INFO -->
  <div class="top-grid">
    <label>DATE:</label><input formControlName="date">
    <label>Name of Payor:</label><input formControlName="payor">
    <label>Address:</label><input formControlName="address">
    <label>PARTICULARS:</label><input formControlName="particulars">
    <label>PERIOD COVERED:</label><input formControlName="period">
  </div>

  <!-- SERIES -->
  <div class="series">
    SOA Series <input formControlName="soaSeries">
    <span class="red">Series</span>
    <input formControlName="serialNo">
  </div>

  <!-- MAIN BODY -->
  <div class="body">

    <!-- LEFT -->
    <div class="panel">
      <div class="section">FOR LICENSES</div>
      <div class="row">
        <label>Permit to Purchase</label><input formControlName="permitPurchase">
      </div>
      <div class="row">
        <label>Filing Fee</label><input  formControlName="filingFeeLicense">
      </div>
      <div class="row">
        <label>Permit to Possess/Storage</label><input formControlName="permitPossess">
      </div>
      <div class="row">
        <label>Construction Permit Fee</label><input  formControlName="constructionFee">
      </div>
      <div class="row">
        <label>Radio Station License</label><input formControlName="radioLicense">
      </div>
      <div class="row">
        <label>Inspection Fee</label><input formControlName="inspectionFeeLicense">
      </div>
      <div class="row">
        <label>Spectrum User's Fee</label><input formControlName="suf">
      </div>
      <div class="row">
        <label>Fines and Penalties</label><input formControlName="fines">
      </div>
      <div class="row">
        <label>Surcharges</label><input  formControlName="surchargeLicense">
      </div>


      <div class="section">OTHER APPLICATION</div>
      <div class="row">
        <label>Registration Fee</label><input  formControlName="registrationFee">
      </div>
      <div class="row">
        <label>Supervision & Regulation Fee</label><input  formControlName="supervisionRegulationFee">
      </div>
      <div class="row">
        <label>Verification Fee</label><input  formControlName="verificationFee">
      </div>
      <div class="row">
         <label>Examination Fee</label><input  formControlName="examinationFee">
      </div>
      <div class="row">
        <label>Clearance/Certification Fee</label><input formControlName="clearanceCertificationFee">
      </div>
      <div class="row">
        <label>Modification Fee</label><input  formControlName="modificationFee">
      </div>
      <div class="row">
        <label>Miscellaneous Income</label><input formControlName="miscellaneousIncome">
      </div>
      <div class="row">
        <label>Others</label><input formControlName="others">
      </div>
    </div>

    <!-- CENTER -->
    <div class="panel">
      <div class="section">FOR PERMITS</div>
      <div class="row">
        <label>Permit Fees</label><input formControlName="permitFees">
      </div>
      <div class="row">
        <label>Inspection Fee</label><input formControlName="inspectionFeePermit">
      </div>
      <div class="row">
        <label>Filing Fee</label><input formControlName="filingFeePermit">
      </div>
      <div class="row">
        <label>Surcharges</label><input formControlName="surchargePermit">
      </div>

      <div class="section">FOR AMATEUR AND ROC</div>
      <div class="row">
        Radio Station License <input formControlName="amateurRadio">
      </div>
      <div class="row">
        Radio Operator's Cert. <input formControlName="rocCert">
      </div>
      <div class="row">
        Application Fee <input formControlName="applicationFee">
      </div>
      <div class="row">
        Filing Fee <input formControlName="filingFeeAmateur">
      </div>
      <div class="row">
        Seminar Fee <input formControlName="seminarFee">
      </div>
      <div class="row">
        Surcharges <input formControlName="surchargeAmateur">
      </div>

      <div class="section">Documentary Stamp</div>
      <div class="row">
        Documentary Stamp Tax <input formControlName="dst">
      </div>

      <div class="total">
        TOTAL AMOUNT {{ total | number:'1.2-2' }}
      </div>
    </div>

    <!-- RIGHT -->
    <div class="panel right">
      <button (click)="save()">SAVE</button>
      <button type="reset">NEW RECORD</button>
      <button type="button">SOA PRINT PREVIEW</button>

      <div class="remarks">
        Remarks / Note
        <textarea formControlName="remarks"></textarea>
      </div>

      <div class="assessment">
        <label><input type="checkbox"> For Assessment Only</label>
        <label><input type="checkbox"> Endorsed for Payment</label>
        <textarea formControlName="assessmentNote"></textarea>
      </div>

      <label>Prepared By</label>
      <input formControlName="preparedBy">

      <label>Approved By</label>
      <input formControlName="approvedBy">

      <div class="op">
        OP Series <input>
        OR Number <input formControlName="orNo">
        Date Paid <input formControlName="datePaid">
      </div>
    </div>

  </div>
</form>

